<!DOCTYPE html>
<html lang="zh-cmn-hans">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.component() 组件嵌套 transclude</title>
  <style>
    body {
      font: 1em/1.2em 'Fira Code Medium', '微软雅黑';
    }
  </style>
</head>
<body>

<div id="app">
  <h3>父级元素：{{ text }}</h3>

  <component-one></component-one>
  <component2></component2>

  <br><br><hr>
  <pre>
    局部组件的三部曲
    1 创建组件 template
    2 注册组件 Vue.component('name', {})
    3 使用组件 my-header

    组件的嵌套， 如果要在一个组件里使用另一个组件
    1 要保证使用的组件是真实存在的，注意组件的顺序问题
    2 在需要引用这个组件的实例上通过 components 注册这个组件
    3 组件需要在父级的模板中通过标签的形式引入

  </pre>
</div>


<script src="../node_modules/vue/dist/vue.js"></script>
<script>
  // 孙子组件
  let grandson = {
    template: '<mark>grandson 孙子级组件</mark>'
  };

  // 子组件
  let son = {
    template: '<h2>son <grandson></grandson></h2>',
    components: {
      grandson
    }
  };

  // 父组件
  let parent = {
    template: '<header>parent {{title}} <son></son></header>',
    components: {
      son
    },
    data(){
      return {
        title: '父级组件'
      }
    }
  };




  const VM = new Vue({
    el: '#app',
    template: '<parent/>',
    components: { // 注册组件
      parent
    },
    data: {
      text: '这是大标题呀'
    }
  });


</script>
</body>
</html>
