<!DOCTYPE html>
<html lang="zh-cmn-hans">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>父子组件传值-vue组件</title>
</head>
<body>

<div id="app">
  <h3>父级元素：{{ title.text }}</h3>

  <!-- 当前组件的属性 = 父级的值，给子组件添加 msg属性，属性对应的数据是父级的 -->
  <comm-main :msg="title"></comm-main>
</div>


<!-- 组件  -->
<template id="child">
  <div>
    <header>
      这是子组件标题
      <button class="button" @click="change">按钮</button>
    </header>
    <p>
      <mark>父组件传递的值{{msg.text}}</mark>
    </p>
    <ul>
      <h3>遍历子组件的</h3>
      <li v-for="(val, index) in item" :key=`li${index}`>
        <a  :data-index=`li${index}`> {{val}}</a>
      </li>
    </ul>
  </div>
</template>

<script src="../../node_modules/vue/dist/vue.js"></script>
<script>
  var vm = new Vue({
    el: '#app', // 选择器
    data: {  // 数据
      title: {
        text: '这是父组件的数据 800万'
      }
    },
    components: {
      // 子组件的实例
      'comm-main': {
        // props: Object, // 单个值，指定类型
        // props: ['title','likes', 'author', 'commentId'], // 多个值，不限定类型
        props: {
          msg: {
            // 多个值，限定类型
            type: [Object, Function],
            // required 必须有值，不能和 default同时使用， default是默认值
            required: true,
            // 自定义校验，用的不多，参数是当前传递的值
            // validator(val){
            //   return val > 300;
            // }
          }
        },
        template: '#child', // 嵌套组件
        methods: {
          change() {
            this.msg.text = 'change 更改了标题'
          }
        },
        data() {
          return {
            item: ['apple', 'orange', 'pear', 'mango']
          }
        }
      }
    }
  });

</script>
</body>
</html>
